In [4]:
import pandas as pd

for table in pd.read_html('https://www.nba.com/players'):
    table.to_csv('NBA_data.csv',encoding = 'utf8', header = 1, index=True)

In [7]:
data = pd.read_csv('NBA_data.csv')
data.head()

,Unnamed: 0,Player,Team,Number,Position,Height,Weight,Last Attended,Country
0,0,PreciousAchiuwa,MIA,5,F,6-8,225 lbs,Memphis,Nigeria
1,1,JaylenAdams,MIL,6,G,6-0,225 lbs,St. Bonaventure,USA
2,2,StevenAdams,NOP,12,C,6-11,265 lbs,Pittsburgh,New Zealand
3,3,BamAdebayo,MIA,13,C-F,6-9,255 lbs,Kentucky,USA
4,4,LaMarcusAldridge,SAS,12,C-F,6-11,250 lbs,Texas,USA